nav.m-navbar 
  .container
    div.m-brand
      img.m-brand-img(src="./lib/img/Mlogo.PNG" alt="logo") 
    
    
    div.m-nav-links#m-nav-links
      ul.m-nav-items
        li.m-link.m-active
          a(href="#" ) Home
        li.m-link
          a(href="#" ) skills
        li.m-link
          a(href="#" ) project
        li.m-link
          a(href="#" ) templates
          
    button.m-btn.m-toggle
      i show links

header
  .container
    img(alt="profile-img" src="./lib/img/logo.svg" )
    div 
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      
       
  
    
